<!DOCTYPE html>
<html lang="en">
    <head>

<% include partials/header.ejs %>
</head>

<body>
  <main class="container">
    <h1><%= title %></h1>
    <br>
    <div class="row" >
        <div class="float-start">
            <a href="/tickets/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> 
                Open a New Ticket
            </a>
        </div>           
    </div>
    <br>   
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th class="text-center">Date</th>                    
                <th class="text-center">Description</th>
                <th class="text-center">Complete</th>
                <th class="text-center" colspan="3">Actions</th>
            </tr>
            <!-- For future use with db -->
            <%
            if(ticketData.length!=0){
            var i=1;
            ticketData.forEach(function(data){
            %>
                <tr>
                    <td><%=data.date; %></td>
                    <td><%=data.description %></td>
                    <td><%=data.complete %></td>                     
                    <td class="text-center">
                        <a href="/tickets/open/<%= data._id %>" class="btn btn-success btn-sm"> 
                        <i class="fas fa-info"></i> </a>
                    </td>
                    <td class="text-center">
                        <a href="/tickets/edit/<%= data._id %>" class="btn btn-primary btn-sm" role="button">
                        <i class="fas fa-pencil-alt"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="/tickets/delete/<%= data._id %>" class="btn btn-danger btn-sm" role="button">
                        <i class="fas fa-trash-alt">
                        
                        </i></a>
                    </td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
        </table>
    </div>
  </main>
  
  </body>

<% include partials/footer.ejs %>

</html>