<%- include ('../partials/header') %>


  <main class="container">
    <h1><%= title %></h1>
    <br>
    <div class="row" >
        <div class="float-start">

            <a href="/landing/opentkt" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> 
                Open New Ticket
            </a> 
        </div>           
    </div>
    <br>   
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">    
            <tr>
                <th class="text-center">Date</th>                    
                <th class="text-center">Description</th>
                <th class="text-center">Complete</th>
                <th class="text-center" colspan="3">Actions</th>
            </tr>

            <% for(let i = 0; i < landingList.length; i++) { %>
                <tr>
                    <td class="text-center"><%= landingList[i].date %></td>
                    <td class="text-center"><%= landingList[i].description %></td>
                    <td class="text-center"><%= landingList[i].complete %></td>                        
                    <td class="text-center">
                        <a href="/landing/opentkt/<%= landingList[i]._id %>" class="btn btn-success btn-sm"> 
                        <i class="fas fa-info"></i> </a>
                    </td>
                    <td class="text-center">
                        <a href="/landing/edit/<%= landingList[i]._id %>" class="btn btn-primary btn-sm" role="button">
                        <i class="fas fa-pencil-alt"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="/landing/delete/<%= landingList[i]._id %>" class="btn btn-danger btn-sm" role="button">
                        <i class="fas fa-trash-alt">
                        
                        </i></a>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
  </main>
  
<%- include ('../partials/footer') %>